numpy
pandas
matplotlib
scikit-learn
seaborn
plotly

tensorflow
torch
torchvision
torchaudio
keras

xgboost
lightgbm

nltk
spacy
transformers
gensim

opencv-python
tqdm
jupyter

altair
jsonschema
jsonschema-specifications
referencing

streamlit
scikeras

langchain
langchain_community
langchain-text-splitters
langchain-openai
langchain-ollama

openai
ipykernel

python-dotenv

pypdf
PyPDF2
pymupdf
bs4
lxml
html5lib

arxiv
wikipedia

chromadb