numpy
pandas
matplotlib
scikit-learn
seaborn
plotly

tensorflow
torch
torchvision
torchaudio
keras

xgboost
lightgbm

nltk
spacy
transformers
gensim

opencv-python
tqdm
jupyter

altair
jsonschema
jsonschema-specifications
referencing

streamlit
scikeras